@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Forum&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Princess+Sofia&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), var(--second-family), sans-serif;
    font-weight: 400;
    color: var(--primary-black);
}

:root {
    --primary-blue-train: #0578ff;
    --primary-black-train: #202020;
    --white: #fff;
    --primary-grey: #90a3bf;
    --primary-black-train-50: rgba(32, 32, 32, 0.5);
    --primary-grey-50: rgba(144, 163, 191, 0.5);
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;
    --green: #43a047;
    --red: #ff6060;
    --primary-blue-train-10: rgba(5, 120, 255, 0.1);
    --semantic-colors-primary-contrast: #fff;
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --secondary-text: rgba(27, 43, 65, 0.69);
    --semantic-colors-primary: #006af5;
    --primary-black-50: rgba(32, 32, 32, 0.5);
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.gradient-bg-container {
    background: linear-gradient(180deg, #f5f5f5 0%, #ddecff 50.17%, #f5f5f5 100%);
}

.container {
    max-width: 1440px;
    padding-inline: 64px;
    margin-inline: auto;
}

.header-container {
    height: 116px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    gap: clamp(12px, 2vw, 96px);
}

.logo-and-text {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: clamp(62px, 5.2vw, 73px);
}

.logo-text {
    font-size: clamp(1.8rem, 3.5vw, 2.125rem);
}

.logo-and-text:hover {
    text-decoration: none;
    background: none;
}

.header-navigation {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.1rem, 1.75vw, 1.25rem);
    line-height: 135%;
    padding-left: 10px;
    gap: clamp(2px, 0.3vw, 10px);
}

.header-navigation a {
    padding-inline: clamp(5px, 0.7vw, 10px);
    text-align: center;
    white-space: nowrap;
}

.header-navigation a:hover {
    background: rgba(221, 236, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.1);
    transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.burger-icon {
    flex-direction: column;
    gap: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: none;
}

.burger-icon .line1, .burger-icon .line2, .burger-icon .line3{
    height: 2px;
    background-color: var(--primary-blue-train);
}

.burger-icon .line2 {
    width: 16px;
}

.burger-icon .line1, .burger-icon .line3 {
    width: 30px;
    transition: transform 0.2s ease-out;
}

.lock-scroll {
    overflow: hidden;
}

.burger-menu {
    height: calc(100dvh - 116px);
    background-color: var(--primary-blue-train);
    position: fixed;
    width: 100%;
    top: 116px;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
}

.burger-menu.active {
    opacity: 1;
    pointer-events: auto;
    animation: fromRightToLeft 0.4s ease-in-out;
}

.burger-menu.closing {
    pointer-events: none;
    animation: closingMenu 0.4s ease-in-out;
}

.burger-menu nav {
    margin-top: clamp(18px, 12dvh, 128px);
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
    gap: clamp(10px, 3dvh, 96px);
}

.burger-menu nav a {
    color: var(--white);
    font-size: 3rem;
}

@keyframes fromRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes closingMenu {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}





.container-ticket-order {
    padding-top: 64px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.ticket-order {
    max-width: calc(50% - 16px);
}

.ticket-order-content {
    width: 100%;
}

.hero-img {
    width: 90%;
    max-width: 640px;
    margin-inline: 36px;
    object-fit: contain;
    transform: rotateY(180deg);
}

H1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 4rem);
}

.ticket-order-text {
    margin: 32px 0;
    font-size: clamp(0.5rem, 1.05vw, 1rem);
}


.ticket-order-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 24px;
}

.choose-trip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    height: 53px;
    background: var(--white);
    font-weight: 500;
    line-height: 100%;
    gap: 0.8rem;
    font-size: clamp(0.6rem, 1.6vw, 1.2rem);

}

.choose-trip label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    white-space: nowrap;
    height: 100%; /* чтобы занять всю высоту grid-ячейки */
}

.person-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    height: 100%;
}

.counter {
    width: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background: var(--white);
    gap: 0.2rem;
}

.counter-decrease {
    color: var(--primary-grey);
}

.counter-increase {
    color: var(--primary-blue);
}

.counter span {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
}

.change-counter {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background: var(--white);
}

.change-counter:hover {
    background-color: #f5f5f5;
}

.choose-station, .choose-date {
    max-width: 100%;
    display: flex;
    row-gap: 24px;
    justify-content: space-between;
}

.ticket-order-button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    width: 100%;
    background: var(--primary-blue);
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--white);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.station-input-container, .date-input-container {
    width: calc(50% - 16px);
}

.input-container label, H4{
    font-weight: 600;
    font-size: clamp(0.4rem, 1.4vw, 1rem);
    line-height: 150%;
}
input {
    cursor: pointer;
}

.input-container input {
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    height: 53px;
    background: var(--white);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 150%;
}

.input-container input:focus {
    outline: none;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.16);
}

.departure-input::placeholder, .arrival-input::placeholder {
    color: var(--primary-grey);
    font-size: clamp(0.4rem, 1.4vw, 0.875rem);
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}

input[type="text"] {
    width: 100%;
    padding-right: 36px;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
}







.hidden-title {
    visibility: hidden;
}

.date-input-button {
    padding: 15px 24px;
    background: var(--white);
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    height: 53px;
}
.date-label {
    font-size: clamp(0.4rem, 1.3vw, 0.875rem);
    color: var(--primary-grey);
    line-height: 1;
}

.date-input-button img {
    width: 20px;
    height: 20px;
    display: block;
}









@media screen and (max-width: 768px) {
    .container {
        padding-inline: 32px;
    }
    .burger-icon {
        display: flex;
    }
    .header-navigation {
        display: none;
    }
    .ticket-order {
        max-width: 100%;
        width: 100%;
    }
    .ticket-order-img {
        display: none;
    }
    H1 {
        font-size: clamp(1.5rem, 8.5vw, 4rem);
    }
    .ticket-order-text {
        font-size: clamp(0.3rem, 1.9vw, 1rem);
    }


}

@media screen and (max-width: 360px) {
    .container {
        padding-inline: 20px;
    }
    .burger-menu nav {
        margin-top: clamp(18px, 8dvh, 64px);
        padding-inline: 20px;
        gap: clamp(10px, 3dvh, 64px);
    }
    .burger-menu nav a {
        font-size: 2rem;
    }
    .logo-text {
        display: none
    }
    .station-input-container, .date-input-container {
        width: 100%;
    }
    .choose-station, .choose-date {
        flex-wrap: wrap;
    }
    .hidden-title {
        display: none;
    }
    .ticket-order-text {
        font-size: clamp(0.3rem, 2.2vw, 0.6875rem);
    }
}