@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Forum&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Princess+Sofia&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), var(--second-family), sans-serif;
    font-weight: 400;
    color: var(--primary-black);
}

:root {
    --primary-blue-train: #0578ff;
    --primary-black-train: #202020;
    --white: #fff;
    --primary-grey: #90a3bf;
    --primary-black-train-50: rgba(32, 32, 32, 0.5);
    --primary-grey-50: rgba(144, 163, 191, 0.5);
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;
    --green: #43a047;
    --red: #ff6060;
    --primary-blue-train-10: rgba(5, 120, 255, 0.1);
    --semantic-colors-primary-contrast: #fff;
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --secondary-text: rgba(27, 43, 65, 0.69);
    --semantic-colors-primary: #006af5;
    --primary-black-50: rgba(32, 32, 32, 0.5);
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.gradient-bg-container {
    background: linear-gradient(180deg, #f5f5f5 0%, #ddecff 50.17%, #f5f5f5 100%);
}

.container {
    max-width: 1440px;
    padding-inline: 64px;
    margin-inline: auto;
}

.header-container {
    height: 116px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    gap: clamp(12px, 2vw, 96px);
}

.logo-and-text {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: clamp(62px, 5.2vw, 73px);
}

.logo-text {
    font-size: clamp(1.8rem, 3.5vw, 2.125rem);
}

.logo-and-text:hover {
    text-decoration: none;
    background: none;
}

.header-navigation {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.1rem, 1.75vw, 1.25rem);
    line-height: 135%;
    padding-left: 10px;
    gap: clamp(2px, 0.3vw, 10px);
}

.header-navigation a {
    padding-inline: clamp(5px, 0.7vw, 10px);
    text-align: center;
    white-space: nowrap;
}

.header-navigation a:hover {
    background: rgba(221, 236, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.1);
    transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.burger-icon {
    flex-direction: column;
    gap: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: none;
}

.burger-icon .line1, .burger-icon .line2, .burger-icon .line3{
    height: 2px;
    background-color: var(--primary-blue-train);
}

.burger-icon .line2 {
    width: 16px;
}

.burger-icon .line1, .burger-icon .line3 {
    width: 30px;
    transition: transform 0.2s ease-out;
}

.lock-scroll {
    overflow: hidden;
}

.burger-menu {
    height: calc(100dvh - 116px);
    background-color: var(--primary-blue-train);
    position: fixed;
    width: 100%;
    top: 116px;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
}

.burger-menu.active {
    opacity: 1;
    pointer-events: auto;
    animation: fromRightToLeft 0.4s ease-in-out;
}

.burger-menu.closing {
    pointer-events: none;
    animation: closingMenu 0.4s ease-in-out;
}

.burger-menu nav {
    margin-top: clamp(18px, 12dvh, 128px);
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
    gap: clamp(10px, 3dvh, 96px);
}

.burger-menu nav a {
    color: var(--white);
    font-size: 3rem;
}

@keyframes fromRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes closingMenu {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}









@media screen and (max-width: 768px) {
    .container {
        padding-inline: 32px;
    }
    .burger-icon {
        display: flex;
    }
    .header-navigation {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .container {
        padding-inline: 20px;
    }
    .burger-menu nav {
        margin-top: clamp(18px, 8dvh, 64px);
        padding-inline: 20px;
        gap: clamp(10px, 3dvh, 64px);
    }
    .burger-menu nav a {
        font-size: 2rem;
    }
    .logo-text {
        display: none
    }
}