@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Forum&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Princess+Sofia&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family), var(--second-family), sans-serif;
    font-weight: 400;
    color: var(--primary-black);
}

:root {
    --primary-blue-train: #0578ff;
    --primary-black-train: #202020;
    --white: #fff;
    --primary-grey: #90a3bf;
    --primary-black-train-50: rgba(32, 32, 32, 0.5);
    --primary-grey-50: rgba(144, 163, 191, 0.5);
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;
    --green: #43a047;
    --red: #ff6060;
    --primary-blue-train-10: rgba(5, 120, 255, 0.1);
    --semantic-colors-primary-contrast: #fff;
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --secondary-text: rgba(27, 43, 65, 0.69);
    --semantic-colors-primary: #006af5;
    --primary-black-50: rgba(32, 32, 32, 0.5);
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.gradient-bg-container {
    background: linear-gradient(180deg, #f5f5f5 0%, #ddecff 50.17%, #f5f5f5 100%);
}

.container {
    max-width: 1440px;
    padding-inline: 64px;
    margin-inline: auto;
}

.header-container {
    height: 116px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    gap: clamp(12px, 2vw, 96px);
}

.logo-and-text {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: clamp(62px, 5.2vw, 73px);
}

.logo-text {
    font-size: clamp(1.8rem, 3.5vw, 2.125rem);
}

.logo-and-text:hover {
    text-decoration: none;
    background: none;
}

.header-navigation {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.1rem, 1.75vw, 1.25rem);
    line-height: 135%;
    padding-left: 10px;
    gap: clamp(2px, 0.3vw, 10px);
}

.header-navigation a {
    padding-inline: clamp(5px, 0.7vw, 10px);
    text-align: center;
    white-space: nowrap;
}

.header-navigation a:hover {
    background: rgba(221, 236, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.1);
    transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.burger-icon {
    flex-direction: column;
    gap: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: none;
}

.burger-icon .line1, .burger-icon .line2, .burger-icon .line3{
    height: 2px;
    background-color: var(--primary-blue-train);
}

.burger-icon .line2 {
    width: 16px;
}

.burger-icon .line1, .burger-icon .line3 {
    width: 30px;
    transition: transform 0.2s ease-out;
}

.lock-scroll {
    overflow: hidden;
}

.burger-menu {
    height: calc(100dvh - 116px);
    background-color: var(--primary-blue-train);
    position: fixed;
    width: 100%;
    top: 116px;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
}

.burger-menu.active {
    opacity: 1;
    pointer-events: auto;
    animation: fromRightToLeft 0.4s ease-in-out;
}

.burger-menu.closing {
    pointer-events: none;
    animation: closingMenu 0.4s ease-in-out;
}

.burger-menu nav {
    margin-top: clamp(18px, 12dvh, 128px);
    display: flex;
    flex-direction: column;
    padding-inline: 32px;
    gap: clamp(10px, 3dvh, 96px);
}

.burger-menu nav a {
    color: var(--white);
    font-size: 3rem;
}

@keyframes fromRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes closingMenu {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}





.container-ticket-order {
    padding-top: 64px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.ticket-order {
    max-width: calc(50% - 16px);
}

.ticket-order-content {
    width: 100%;
}

.hero-img {
    width: 90%;
    max-width: 640px;
    margin-inline: 36px;
    object-fit: contain;
    transform: rotateY(180deg);
}

H1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 4rem);
}

.ticket-order-text {
    margin: 32px 0;
    font-size: clamp(0.5rem, 1.05vw, 1rem);
}


.ticket-order-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 24px;
    position: relative;
}

.choose-trip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    height: 53px;
    background: var(--white);
    font-weight: 500;
    line-height: 100%;
    gap: 0.8rem;
}

.choose-trip label {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    white-space: nowrap;
    height: 100%; /* чтобы занять всю высоту grid-ячейки */
    font-size: clamp(0.6rem, 1.6vw, 0.875rem);
}

.radio-option input[type="radio"] {
    display: none; /* скрываем стандартный флажок */
}

.custom-radio {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ccc; /* серый фон для невыбранного */
    transition: all 0.2s ease;

}

.radio-option input[type="radio"]:checked + .custom-radio {
    background-color: transparent;
    border: 3px solid #0578ff;
}



.person-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    height: 100%;
}

.person-icon {
    width: clamp(8px, 2vw, 18px);
}

.counter {
    width: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background: var(--white);
    gap: 0.2rem;
}

.counter-decrease, .counter-increase {
    color: var(--primary-grey);
}

.active-button {
    color: var(--primary-blue);
}

.counter span {
    font-weight: 500;
    font-size: clamp(0.5rem, 1.5vw, 0.875rem);
    line-height: 157%;
    text-align: center;
}

.change-counter {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background: var(--white);
}

.change-counter:hover {
    background-color: #f5f5f5;
}

.choose-station, .choose-date {
    max-width: 100%;
    display: flex;
    row-gap: 24px;
    justify-content: space-between;
}

.choose-station {
    position: relative;
}

.ticket-order-button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    width: 100%;
    background: var(--primary-blue);
    font-weight: 700;
    font-size: clamp(1.1rem, 2.1vw, 1.25rem);
    text-transform: capitalize;
    color: var(--white);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.station-input-container, .date-input-container {
    width: calc(50% - 16px);
}

.input-container label, H4{
    font-weight: 600;
    font-size: clamp(0.4rem, 1.6vw, 1rem);
    line-height: 150%;
}
input {
    cursor: pointer;
}

.input-container input {
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    height: 53px;
    background: var(--white);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 150%;
}

.input-container input:focus {
    outline: none;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.16);
}

.departure-input::placeholder, .arrival-input::placeholder {
    color: var(--primary-grey);
    font-size: clamp(0.4rem, 1.4vw, 0.875rem);
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}

input[type="text"] {
    width: 100%;
    padding-right: 36px;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
}

.autocomplete-dropdown {
    margin-top: 12px;
    width: 100%;
    list-style-type: none;
    padding: 12px;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.16);
    animation: dropdownAppear 0.1s ease-in-out;
}

.autocomplete-dropdown li {
    padding: 4px 12px;
    font-size: clamp(0.4rem, 1.4vw, 0.875rem);
    line-height: 150%;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

.autocomplete-dropdown li:hover {
    background: var(--primary-grey);
    color: var(--white);
}

.not-found-span {
    font-size: 0.875rem;
    color: var(--primary-grey);
}

@keyframes dropdownAppear {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.date-input-button {
    padding: 15px 24px;
    background: var(--white);
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    height: 53px;
}
.date-label {
    font-size: clamp(0.4rem, 1.3vw, 0.875rem);
    color: var(--primary-grey);
    line-height: 1;
}

.date-input-button img {
    width: 20px;
    height: 20px;
    display: block;
}

.selected-border {
    border: 1px solid var(--primary-blue-train);
}

.calendar {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    padding: 24px 32px;
    width: 100%;
    position: relative;
}

.calendar .months {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.calendar .month {
    min-width: 0;
    width: 100%;
}

.calendar-header {
    width: 100%;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    align-items: center;
    margin-bottom: 16px;
}


.calendar-header .month-year {
    width: 100%;
    text-align: center;
    color: var(--primary-black);
    font-size: clamp(0.4rem, 1vw, 1rem);
    font-weight: 600;
    white-space: nowrap;
}

.nav-btn {
    height: clamp(15px, 2.5vw, 20px);
    width: 20px;
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.nav-btn img {
    max-width: 80%;
    height: auto;
}

.nav-btn:hover {
    background: #F1F3F7;
}

.header-spacer { width: clamp(15px, 2.5vw, 20px); }

.calendar-body .weekdays, .calendar-body .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 4px;
}



.empty, .weekdays span, .date {
    width: 100%;
    aspect-ratio: 1 / 1; /* делает ячейку квадратной */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

.empty, .date {
    font-size: clamp(0.4rem, 1.3vw, 1rem);
}

.weekdays span {
    font-size: clamp(0.4rem, 1.2vw, 0.95rem);
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-body .dates .date.range-start {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.calendar-body .dates .date.range-end {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.calendar-body .dates .date:hover {
    background: #EFF4FF;
    color: var(--primary-blue-train);
}

.calendar-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 16px;
    gap: 16px;
}

.calendar-body .dates .date.selected-date .circle {
    background-color: #0578FF;
    color: #fff;
    border-radius: 50%;
}

.date.in-range {
    background-color: #F1F3F7;
    color: var(--primary-black);
    border-radius: 0;
}

.reset-btn {
    border: none;
    background: transparent;
    color: var(--primary-grey);
    cursor: pointer;
}

.apply-btn {
    border: none;
    background: var(--primary-blue-train);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.reset-btn:hover, .apply-btn:hover {
    transform: scale(1.1);
}


.modal {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(221, 236, 255, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 800px; /* ограничение ширины */
    text-align: center;
}

.modal-stations {
    margin-top: -14vh;
}

.modal-dates, .modal-choose {
    margin-top: -25vh;
}

.modal-submit {
    margin-top: -10vh;
}
.modal-content H4, .modal-content button {
    font-size: clamp(0.4rem, 1vw, 0.8rem);
}

.modal-content button {
    border: none;
    background: none;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 0;
    padding: 3px 10px;
}

.modal-content button:hover {
    background: rgba(221, 236, 255, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.1);
    transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
}





.hidden-title {
    visibility: hidden;
}






.date-input-button.disabled {
    background: rgba(5, 120, 255, 0.1);
    cursor: not-allowed !important;

}

.not-allowed {
    cursor: not-allowed !important;
}


.hidden {
    display: none;
}









@media screen and (max-width: 768px) {
    .container {
        padding-inline: 32px;
    }
    .burger-icon {
        display: flex;
    }
    .header-navigation {
        display: none;
    }
    .ticket-order {
        max-width: 100%;
        width: 100%;
    }
    .ticket-order-img {
        display: none;
    }
    H1 {
        font-size: clamp(1.5rem, 8.5vw, 4rem);
    }
    .person-icon {
        width: clamp(12px, 2.5vw, 18px);
    }
    .counter span {
        font-size: clamp(0.5rem, 2.5vw, 0.875rem);
    }
    .ticket-order-text {
        font-size: clamp(0.3rem, 1.9vw, 1rem);
    }
    .input-container label, H4{
        font-size: clamp(0.4rem, 3vw, 1rem);
    }
    .departure-input::placeholder, .arrival-input::placeholder, .date-label, .autocomplete-dropdown li {
        font-size: clamp(0.4rem, 3vw, 0.875rem);
    }
    .calendar-header .month-year, .empty, .weekdays span, .date {
        font-size: clamp(0.4rem, 2vw, 1rem);
    }
    .modal-content H4, .modal-content button {
        font-size: clamp(0.4rem, 2vw, 0.8rem);
    }
    .modal-dates {
        margin-top: -26vh;
    }
}

@media screen and (max-width: 360px) {
    .container {
        padding-inline: 20px;
    }
    .burger-menu nav {
        margin-top: clamp(18px, 8dvh, 64px);
        padding-inline: 20px;
        gap: clamp(10px, 3dvh, 64px);
    }
    .burger-menu nav a {
        font-size: 2rem;
    }
    .logo-text {
        display: none
    }
    .station-input-container, .date-input-container {
        width: 100%;
    }
    .choose-station, .choose-date {
        flex-wrap: wrap;
    }
    .hidden-title {
        display: none;
    }
    .ticket-order-text {
        font-size: clamp(0.3rem, 2.2vw, 0.6875rem);
    }
    .input-container label, H4{
        font-size: clamp(0.4rem, 4vw, 1rem);
    }
    .departure-input::placeholder, .arrival-input::placeholder, .date-label, .autocomplete-dropdown li {
        font-size: clamp(0.4rem, 4vw, 0.875rem);
    }
    .calendar {
        padding: 16px;
    }
    .calendar .months {
        grid-template-columns: 1fr;
        gap: 48px;
    }
    .calendar-header .month-year, .empty, .weekdays span, .date {
        font-size: clamp(0.4rem, 3.5vw, 1rem);
    }
    .modal-content H4, .modal-content button {
        font-size: clamp(0.4rem, 2vw, 0.6rem);
    }
    .modal-dates {
        margin-top: -38vh;
    }
    .ticket-order-button {
        font-size: clamp(0.6rem, 4vw, 1.25rem);
    }
}